<h2>Mes objets</h2>
<div class="input-field col s12">
  <select>
    <option *ngFor="let item of categories">
        {{ item || "Sans catégorie"}}
    </option>
  </select>
</div>
<div class="list-items">
  <div class="item" *ngFor="let object of objects | async">
    <app-post-list-item
      [object]="object"
      (messageEmitterDelete)="onSendMessage()"></app-post-list-item>
  </div>
</div>
<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
 var elems = document.querySelectorAll('select');
 var instances = M.FormSelect.init(elems);
});

</script> -->
