<h2>Ajout d'un objet</h2>
<div class="row">
  <form class="col s12" [formGroup]="addNewItem" (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input type="text" required class="validate" formControlName="title" />
      <label for="title">Titre*</label>
    </div>

    <div class="input-field">
      <input type="text" required class="validate" formControlName="content" />
      <label for="content">Contenu*</label>
    </div>

    <div class="input-field">
      <input list="category" type="text" required class="validate" formControlName="category" placeholder="Catégorie"/>
      <datalist id="category"  >
        <option value="" disabled selected>Catégorie*</option>
        <option *ngFor="let item of listCategory" [value]="item">
          {{ item || "Sans catégorie"}}
        </option>

      </datalist>

      <!-- <label for="category">Catégorie*</label> -->
    </div>
    <br />

    <button
      class="waves-effect waves-light btn cyan lighten-3 black-text"
      id="btnForm"
      type="submit"
      [disabled]="addNewItem.invalid"
    >
      Ajouter un objet
    </button>
  </form>
</div>
