<h2>Mon nouvel article</h2>
<div class="row">

    <form class="col s12"  [formGroup] = "addNewPost" (ngSubmit) = "onSubmit()">


           <div class="input-field ">
              <input type="text"  required class = "validate" formControlName ="title" />
              <label for ="title">Titre*</label>
          </div>

          <div class="input-field ">
            <input type="text" required class = "validate" formControlName ="content" />
            <label for ="content">Contenu*</label>
          </div>



<br/>

          <button class="waves-effect waves-light btn cyan lighten-3 black-text" id="btnForm" type="submit"
          [disabled]="addNewPost.invalid">Ajouter contact</button>


</form>
