

    <div *ngIf="readMode"  [ngClass]="' postbox'">

  <div class="">
      <h3>{{ object.title}} &nbsp;&nbsp;&nbsp;
        <i (click) = "AllowEditPost()" class="material-icons droite">edit</i>
        <i (click) = "DeletePost()"  class="material-icons droite">delete</i> </h3>
      </div>


    </div>
      <p class = "date"> {{object.createdAt | date  }}</p>
      <p> {{object.category || "Sans catégorie" }}</p>
      <p> {{object.content }}</p>
      <!--<a [routerLink]="['blog/', 2030]">Details</a>-->
      <!-- <button  class="btn" (click) = "lovePost()" >Love it!</button>
      <button  class="btn red" (click) = "dontLovePost()" >Don't love it...</button> -->

  <div *ngIf="!readMode"  [ngClass]=" ' postbox'">
    <form [formGroup] = "editPost" >
    <button  class="btn" (click) = "SaveEditPost()" >Enregistrer</button>
    <button  class="btn red" (click) = "CancelEditPost()" >Annuler</button>
      <input type="text" required class = "validate" formControlName ="title"/>
      <p class = "date"> {{object.createdAt | date  }}</p>
      <input type="text" required class = "validate" formControlName ="content" />
    </form>
  </div>

