<div class = "row ">
<hr>
<div class="col">
    <div *ngIf="readMode"  [ngClass]="lovedPost + ' postbox'">
<div class = "row">

  <div class="col-md-11">
      <h3>{{ object.title}} </h3>
      </div>
      <div class="col-md-1">
      <i (click) = "AllowEditPost()" class="material-icons droite">edit</i>
      <i (click) = "DeletePost()"  class="material-icons droite">delete</i>
      </div>

    </div>
      <p class = "date"> {{object.createdAt | date  }}</p>
      <p> {{object.category }}</p>
      <p> {{object.content }}</p>
      <!--<a [routerLink]="['blog/', 2030]">Details</a>-->
      <!-- <button  class="btn" (click) = "lovePost()" >Love it!</button>
      <button  class="btn red" (click) = "dontLovePost()" >Don't love it...</button> -->
  </div>

  <div *ngIf="!readMode"  [ngClass]="lovedPost + ' postbox'">
    <form [formGroup] = "editPost" >
    <button  class="btn" (click) = "SaveEditPost()" >Enregistrer</button>
    <button  class="btn red" (click) = "CancelEditPost()" >Annuler</button>
      <input type="text" required class = "validate" formControlName ="title"/>
      <p class = "date"> {{object.createdAt | date  }}</p>
      <input type="text" required class = "validate" formControlName ="content" />
    </form>
  </div>

</div>
